.table
{
    margin-top: 20px;
    overflow-y: scroll;
    height: 370px;
    color: #6a5d5d;
    background-color: white;
}
.table tr:nth-of-type(odd)
{
    background-color:rgba(241, 237, 237, 0.918);
}
.table tr
{
  display: flex;
  justify-content: space-between;
}
.table td{
    padding: 0.5rem;
}